#corpo-humano{
    position: absolute;
    width: 100%;
    height: 650px;
}   

.boneco {
    position: absolute;
    width: 450px;
    height: 425px;
    left: 62%;
    top: 40%;
    /* transform-origin: 50% 0;
    animation: moveCorpo 2.5s ease-in-out infinite; */
}

.boneco-morto {
    position: absolute;
    width: 450px;
    height: 425px;
    left: 62%;
    top: 40%;
    transform-origin: 50% 0;
    animation: moveCorpo 2.5s ease-in-out infinite;
    filter: saturate(0%);
}

.cabeca-viva {
    position: absolute;
    width: 30%;
    height: 30%;
    background-image: url(../imgs/cabeçaCorda.png);
    background-size: 100% 100%;
    left: 145px;
}

.cabeca-quase {
    position: absolute;
    width: 30%;
    height: 30%;
    background-image: url(../imgs/cabecaQuaseCorda.png);
    background-size: 100% 100%;
    left: 145px;
}

.cabeca-morta {
    position: absolute;
    width: 30%;
    height: 30%;
    background-image: url(../imgs/cabeçaCordaMorte.png);
    background-size: 100% 100%;
    left: 145px;
}

.corpo {
    position: absolute;
    top: 105px;
    width: 30%;
    height: 35%;
    background-image: url(../imgs/corpo-desmontado.png);
    background-size: 100% 100%;
    left: 145px;
}

.braco-direito {
    position: absolute;
    top: 35px;
    width: 30%;
    height: 30%;
    background-image: url(../imgs/braco-direito.png);
    background-size: 100% 100%;
    left: 60%;
}

.braco-direito-morto {
    -webkit-transform: translateX(-45px) translateY(110px) rotateX(180deg) rotateZ(-40deg);
    /* to support Safari and Android browser */
    -ms-transform: translateX(-45px) translateY(110px) rotateX(180deg) rotateZ(-40deg);
    /* to support IE 9 */
    transform: translateX(-45px) translateY(110px) rotateX(180deg) rotateZ(-40deg);
}

.braco-esquerdo {
    position: absolute;
    top: 35px;
    width: 30%;
    height: 30%;
    background-image: url(../imgs/braco-esquerdo.png);
    background-size: 100% 100%;
    left: 4%;
}

.braco-esquerdo-morto {
    -webkit-transform: translateX(50px) translateY(110px) rotateX(180deg) rotateZ(-40deg);
    /* to support Safari and Android browser */
    -ms-transform: translateX(50px) translateY(110px) rotateX(180deg) rotateZ(-40deg);
    /* to support IE 9 */
    transform: translateX(50px) translateY(110px) rotateX(180deg) rotateZ(40deg);
}

.perna-direita {
    position: absolute;
    top: 59%;
    width: 20%;
    height: 25%;
    background-image: url(../imgs/perna-direita1.png);
    background-size: 100% 100%;
    left: 49%;
}

.perna-esquerda {
    position: absolute;
    top: 59%;
    width: 20%;
    height: 25%;
    background-image: url(../imgs/perna-esquerda1.png);
    background-size: 100% 100%;
    left: 24.5%;
}

@keyframes moveCorpo {

    0%,
    100% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }
}
