#forca {
    position: absolute;
    width: 100%;
    height:650px;
}

.background-class{
    position: absolute;
    margin:auto;
    width: 1200px;
    height: 800px;
    position: relative;
    border: 1px solid #ccc;
    background-image: url("../imgs/background.jpg");
    background-size: 100% 100%;
    border-radius: 40px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0);
}

.background-class-off{
    position: absolute;
    margin:auto;
    width: 1200px;
    height: 800px;
    position: relative;
    border: 1px solid #ccc;
    background-image: url("../imgs/background.jpg");
    background-size: 100% 100%;
    border-radius: 40px;
    filter: saturate(0%);
}

#grama {
    width: 100%;
    height: 100px;
    position: absolute;
    background-image: url("../imgs/grama.png");
    background-size: 150px 100px;
    background-repeat: repeat-x;
    bottom: 0;
    border-radius: 40px;
}

.tronco1 {
    width: 80px;
    height: 85%;
    position: absolute;
    background-image: url("../imgs/tronco1.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    bottom: 0px;
    left: 20%;
}

.tronco2 {
    width: 80%;
    height: 90px;
    position: absolute;
    background-image: url("../imgs/tronco2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 20%;
    left: 10%;
}

.tronco3 {
    width: 15%;
    height: 25%;
    position: absolute;
    background-image: url("../imgs/tronco3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 30%;
    left: 25%;
}

.corda {
    width: 110px;
    height: 225px;
    position: absolute;
    background-image: url("../imgs/corda.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 25%;
    left: 75%;
}

.corda-gameOver {
    width: 110px;
    height: 225px;
    position: absolute;
    background-image: url("../imgs/corda.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 25%;
    left: 75%;
    transform-origin: 50% 0;
    animation: moveCorda 2.5s ease-in-out infinite;
}

@keyframes moveCorda {
    0%, 100% {
      transform: rotate(5deg);
    }
    50% {
      transform: rotate(-5deg);
    }
  }