@import url(https://fonts.googleapis.com/css?family=Roboto);

#start-screen {
    border-radius: 4px;
    margin: 0 auto;
    height: 100vh;
    /* position: relative; */
    border: 3px solid green;
}

#restart-btn, 
#start-btn {
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#newWord-btn {
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#gameover-h1 {
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: Red;
}

#win-h1 {
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: black;
}

.title {
    font-weight: 900;
    font-size: 8vw;
    margin: 0;
    font-family: Raleway, sans-serif;
    position: relative;
    letter-spacing: -.12em;
    text-transform: uppercase;
    text-shadow: hsla(210, 100%, 20%, .3) 0 -1px 0, hsl(210, 100%, 85%) 0 2px 1px, hsla(200, 100%, 80%, 1) 0 0 5px, hsla(210, 100%, 50%, .6) 0 0 20px;
}

.drop {
    width: .1em;
    height: .1em;
    border-radius: 0 100% 100% 100%;
    background-color: currentColor;
    position: absolute;
    top: 72%;
    animation: drop 3s infinite both;
}

.drop:nth-child(1) {
    left: 14%;
}

.drop:nth-child(2) {
    left: 39%;
    animation-delay: -.4s;
}

.drop:nth-child(3) {
    left: 55%;
    animation-delay: -1.5s;
}

.drop:nth-child(4) {
    left: 82%;
    animation-delay: -.8s;
}

.drop:nth-child(5) {
    left: 95.5%;
    animation-delay: -1.3s;
}

@keyframes drop {
    0% {
        transform: translateY(0) scaleX(.85) rotate(45deg);
        animation-timing-function: ease-out;
    }

    60% {
        transform: translateY(120%) scaleX(.85) rotate(45deg);
        animation-timing-function: ease-in;
    }

    80%,
    100% {
        transform: translateY(60vh) scaleX(.85) rotate(45deg);
    }
}

.new,
.restart,
.restart::after,
.start,
.start::after {
    width: 380px;
    height: 86px;
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px -6px 4px #00E6F6;
    outline: transparent;
    position: relative;
}

.start::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: 'Start Game';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

.new:hover::after,
.restart:hover::after,
.start:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

.restart::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: 'Restart Game';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

.new::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: 'New Word';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}


@keyframes firework {
    0% { 
      transform: translate(-50%, 60vh);
      width: 0.5vmin;
      opacity: 1;
    }
    50% { 
      width: 0.5vmin;
      opacity: 1;
    }
    100% { 
      width: 45vmin; 
      opacity: 0; 
    }
  }
  
  .firework,
  .firework::before,
  .firework::after {
    --top: 60vh;
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5vmin;
    aspect-ratio: 1;
    background:
      /* random backgrounds */
      radial-gradient(circle, #ff0 0.2vmin, #0000 0) 50% 00%,
      radial-gradient(circle, #ff0 0.3vmin, #0000 0) 00% 50%,
      radial-gradient(circle, #ff0 0.5vmin, #0000 0) 50% 99%,
      radial-gradient(circle, #ff0 0.2vmin, #0000 0) 99% 50%,
      radial-gradient(circle, #ff0 0.3vmin, #0000 0) 80% 90%,
      radial-gradient(circle, #ff0 0.5vmin, #0000 0) 95% 90%,
      radial-gradient(circle, #ff0 0.5vmin, #0000 0) 10% 60%,
      radial-gradient(circle, #ff0 0.2vmin, #0000 0) 31% 80%,
      radial-gradient(circle, #ff0 0.3vmin, #0000 0) 80% 10%,
      radial-gradient(circle, #ff0 0.2vmin, #0000 0) 90% 23%,
      radial-gradient(circle, #ff0 0.3vmin, #0000 0) 45% 20%,
      radial-gradient(circle, #ff0 0.5vmin, #0000 0) 13% 24%
      ;
    background-size: 0.5vmin 0.5vmin;
    background-repeat: no-repeat;
    animation: firework 2s infinite;
  }

#fire1 {
    left: 14%;
}

#fire2 {
    left: 39%;
    animation-delay: -5.5s;
}

#fire3 {
    left: 55%;
    animation-delay: -4.5s;
}

#fire4 {
    left: 71%;
    animation-delay: -3.5s;
}

#fire5 {
    left: 87%;
    animation-delay: -2.5s;
}

#fire6 {
    left: 97%;
    animation-delay: -1.5s;
}
  
  .firework::before {
    transform: translate(-50%, -50%) rotate(25deg) !important; 
  }
  
  .firework::after {
    transform: translate(-50%, -50%) rotate(-37deg) !important;
  }