*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    /* background-image: linear-gradient(120deg, #bdc3c7 0%, #2c3e50 100%); */
    background: #5CA4EA;
  }

.container-class{
    margin:auto;
    width: 1200px;
    height: 650px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 40px;
    background: linear-gradient(90deg, #787878 0%,
    #b5b5b5 25%,
    #e3e3e3 50%,
    #b5b5b5 75%,
    #787878 100%);
}

/* .gradient-border {
    --border-width: 10px;
    text-transform: uppercase;
    color: white;
    background: #222;
    border-radius: var(--border-width);
}
.gradient-border::after {
      position: absolute;
      content: "";
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      z-index: -1;
      width: calc(100% + var(--border-width) * 2);
      height: calc(100% + var(--border-width) * 2);
      background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
      background-size: 300% 300%;
      background-position: 0 50%;
      border-radius: calc(2 * var(--border-width));
      animation: moveGradient 4s alternate infinite;
    }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  } */
